<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>53005</key>
	<string>第三方登录获取access_token失败</string>
	<key>500002</key>
	<string>您创建的群个数已达上限</string>
	<key>300013</key>
	<string>未获取到区县id</string>
	<key>200006</key>
	<string>未获取到类型</string>
	<key>54007</key>
	<string>验证码一分钟内不能重复获取</string>
	<key>500008</key>
	<string>成员不能重复加入群</string>
	<key>55009</key>
	<string>用户被冻结</string>
	<key>300001</key>
	<string>未获取到用户id</string>
	<key>130012</key>
	<string>目标连接不能为空</string>
	<key>600003</key>
	<string>未获取到被打赏内容类型</string>
	<key>150014</key>
	<string>开票金额不得小于500</string>
	<key>300007</key>
	<string>未获取到类型</string>
	<key>600009</key>
	<string>今日**收到太多的礼物，明天在打赏吧！</string>
	<key>53006</key>
	<string>第三方登录根据access_token获取用户详细信息失败</string>
	<key>56000</key>
	<string>今日已经签到</string>
	<key>130000</key>
	<string>未接收到相关参数</string>
	<key>160000</key>
	<string>帖子不存在</string>
	<key>100000</key>
	<string>今日机会已用完</string>
	<key>150002</key>
	<string>未获取到电话</string>
	<key>180002</key>
	<string>未获取到投票id</string>
	<key>140004</key>
	<string>请选择区/县</string>
	<key>57002</key>
	<string>提现用户不存在</string>
	<key>130006</key>
	<string>未获取到推广目标</string>
	<key>700004</key>
	<string>未匹配到投诉内容</string>
	<key>500015</key>
	<string>mid不能为空</string>
	<key>150008</key>
	<string>未获取到纳税人识别号</string>
	<key>180008</key>
	<string>不能二次投票</string>
	<key>50001</key>
	<string>参数丢失</string>
	<key>500040</key>
	<string>汇率过期,请及时刷新</string>
	<key>90010</key>
	<string>不是你发布的评论</string>
	<key>190006</key>
	<string>已经踩，不能点赞</string>
	<key>200001</key>
	<string>未获取到用户id</string>
	<key>90002</key>
	<string>无此消息</string>
	<key>500003</key>
	<string>group_id不能为空</string>
	<key>53007</key>
	<string>该手机号未被注册</string>
	<key>300014</key>
	<string>未获取到城市</string>
	<key>200007</key>
	<string>未获取到主评论id</string>
	<key>600010</key>
	<string>您打赏的帖子被很多人打赏了，请换个帖子继续吧！</string>
	<key>50010</key>
	<string>新用户，没有24H进行提现或者打赏操作</string>
	<key>56001</key>
	<string>签到失败</string>
	<key>500009</key>
	<string>未获取到用户mid</string>
	<key>57003</key>
	<string>没有在公众号进行微信绑定</string>
	<key>50002</key>
	<string>链接失效</string>
	<key>300002</key>
	<string>未获取到id</string>
	<key>90011</key>
	<string>已经投诉过了</string>
	<key>130013</key>
	<string>广告主id不能为空</string>
	<key>600004</key>
	<string>未获取到打赏数量</string>
	<key>150015</key>
	<string>未获取到开票id</string>
	<key>300008</key>
	<string>未获取到经度</string>
	<key>90003</key>
	<string>字数超限</string>
	<key>55000</key>
	<string>邀请码错误</string>
	<key>100001</key>
	<string>无瓶子</string>
	<key>130001</key>
	<string>添加失败</string>
	<key>160001</key>
	<string>帖子广告已经存在</string>
	<key>500010</key>
	<string>friend_mid不能为空</string>
	<key>190001</key>
	<string>未获取到用户id</string>
	<key>180003</key>
	<string>未获取到投票标题</string>
	<key>140005</key>
	<string>公司地址必填</string>
	<key>57004</key>
	<string>余额不足</string>
	<key>130007</key>
	<string>开始日期不能为空</string>
	<key>150003</key>
	<string>未获取到姓名</string>
	<key>500016</key>
	<string>未获取到用户mid</string>
	<key>50003</key>
	<string>无效请求方式</string>
	<key>150009</key>
	<string>未获取到接收地址</string>
	<key>700005</key>
	<string>未获取到描述信息</string>
	<key>200002</key>
	<string>未获取到id</string>
	<key>600011</key>
	<string>您的账户玫瑰不足。</string>
	<key>90004</key>
	<string>不是你所发布的圈子</string>
	<key>55001</key>
	<string>绑定上级用户失败</string>
	<key>500004</key>
	<string>group不存在</string>
	<key>300015</key>
	<string>您发帖频率过高，请稍后再试</string>
	<key>500060</key>
	<string>充值金额错误</string>
	<key>57005</key>
	<string>还有未处理的申请</string>
	<key>50004</key>
	<string>请求错误。</string>
	<key>150010</key>
	<string>未获取到接收电话</string>
	<key>300003</key>
	<string>未获取到内容</string>
	<key>130014</key>
	<string>推广计划id不能为空</string>
	<key>55010</key>
	<string>登录异常</string>
	<key>600005</key>
	<string>今日您的打赏超过2000朵，歇歇明天继续吧</string>
	<key>150016</key>
	<string>取消失败</string>
	<key>300009</key>
	<string>未获取到纬度</string>
	<key>54000</key>
	<string>验证码填写错误</string>
	<key>90005</key>
	<string>话题已经存在</string>
	<key>55002</key>
	<string>已经绑定上级</string>
	<key>110000</key>
	<string>没有此帖子信息</string>
	<key>140000</key>
	<string>缺少广告主信息</string>
	<key>100002</key>
	<string>海中无瓶子</string>
	<key>130002</key>
	<string>计划日限额不能低于50元</string>
	<key>160002</key>
	<string>广告不存在</string>
	<key>500011</key>
	<string>好友请求已发送</string>
	<key>190002</key>
	<string>未获取到id</string>
	<key>180004</key>
	<string>未获取到投票选项</string>
	<key>140006</key>
	<string>公司名称必填</string>
	<key>150004</key>
	<string>未获取到地址</string>
	<key>57006</key>
	<string>提现次数超过今日上限</string>
	<key>130008</key>
	<string>开始时间不能为空</string>
	<key>500017</key>
	<string>attention_mid不能为空</string>
	<key>700006</key>
	<string>不可以投诉自己</string>
	<key>50005</key>
	<string>签名过期</string>
	<key>900020</key>
	<string>绑定支付宝失败</string>
	<key>55011</key>
	<string>存在不允许修改字段</string>
	<key>300010</key>
	<string>未获取到地址</string>
	<key>200003</key>
	<string>未获取到内容</string>
	<key>54001</key>
	<string>手机号码不合法</string>
	<key>500005</key>
	<string>group_id不能为空</string>
	<key>90006</key>
	<string>字数超限</string>
	<key>55003</key>
	<string>金币不足</string>
	<key>70000</key>
	<string>没有中奖信息</string>
	<key>300016</key>
	<string>内容不得为纯数字或纯符号</string>
	<key>500036</key>
	<string>未获取到通知类型type</string>
	<key>57007</key>
	<string>手机号码不能为空</string>
	<key>50006</key>
	<string></string>
	<key>150011</key>
	<string>未获取到资质文件</string>
	<key>300004</key>
	<string>添加失败</string>
	<key>130015</key>
	<string>未获取到推广详情</string>
	<key>53000</key>
	<string>用户名或密码错误</string>
	<key>55012</key>
	<string>金钻不足</string>
	<key>600006</key>
	<string>玫瑰数量不足,请充值</string>
	<key>54002</key>
	<string>发送短信失败</string>
	<key>90007</key>
	<string>不能打赏自己</string>
	<key>55004</key>
	<string>余额不足</string>
	<key>70001</key>
	<string>奖品已领取</string>
	<key>140001</key>
	<string>营业执照必传</string>
	<key>170001</key>
	<string>未获取到域名类型</string>
	<key>130003</key>
	<string>缺少广告主id</string>
	<key>160003</key>
	<string>未开通服务</string>
	<key>190003</key>
	<string>未获取到内容</string>
	<key>150005</key>
	<string>未获取到开票金额</string>
	<key>180005</key>
	<string>未获取到操作类型</string>
	<key>140007</key>
	<string>账户类型必选</string>
	<key>110001</key>
	<string>此帖子已经发布</string>
	<key>130009</key>
	<string>出价方式不能为空</string>
	<key>500012</key>
	<string>对方已经是您的好友</string>
	<key>500018</key>
	<string>未获取到用户mid</string>
	<key>700001</key>
	<string>未获取到被投诉用户id</string>
	<key>900021</key>
	<string>绑定支付宝失败</string>
	<key>50007</key>
	<string>不是广告主</string>
	<key>53001</key>
	<string>第三方登录需要绑定手机号码</string>
	<key>500000</key>
	<string>name不能为空</string>
	<key>300011</key>
	<string>未获取到城市id</string>
	<key>200004</key>
	<string>添加失败</string>
	<key>54003</key>
	<string>该手机号码已经注册</string>
	<key>500006</key>
	<string>group_id不能为空</string>
	<key>90008</key>
	<string>不是运营商</string>
	<key>55005</key>
	<string>今日分享赠送完成</string>
	<key>70002</key>
	<string>充值失败</string>
	<key>300017</key>
	<string>发布内容不得包含违规信息</string>
	<key>500037</key>
	<string>挖矿失败</string>
	<key>130010</key>
	<string>出价不能为空</string>
	<key>600001</key>
	<string>未获取到别打赏用户id</string>
	<key>150012</key>
	<string>未获取到开户行</string>
	<key>52000</key>
	<string>视频不存在</string>
	<key>50008</key>
	<string>没有绑定微信号</string>
	<key>300005</key>
	<string>未获取到分类id</string>
	<key>130016</key>
	<string>修改失败</string>
	<key>600007</key>
	<string>不可以给自己打赏哦</string>
	<key>53002</key>
	<string>第三方登录传递凭证错误</string>
	<key>55014</key>
	<string>您已经重置过账户了</string>
	<key>500050</key>
	<string>超过当日充值上限</string>
	<key>54004</key>
	<string>图形验证码错误</string>
	<key>90009</key>
	<string>不是你所发布的帖子</string>
	<key>55006</key>
	<string>等级不足</string>
	<key>140002</key>
	<string>请选择省</string>
	<key>60000</key>
	<string>没有代理商</string>
	<key>170002</key>
	<string>未获取到有效链接</string>
	<key>130004</key>
	<string>推广计划不存在</string>
	<key>500013</key>
	<string>id不能为空</string>
	<key>190004</key>
	<string>添加失败</string>
	<key>180006</key>
	<string>添加失败</string>
	<key>140008</key>
	<string>开通失败</string>
	<key>150006</key>
	<string>开票金额超过支付金额总数</string>
	<key>70003</key>
	<string>手机号码不正确</string>
	<key>58000</key>
	<string>没有红包</string>
	<key>150000</key>
	<string>未获取到支付id</string>
	<key>700002</key>
	<string>未获取到被投诉内容id</string>
	<key>800015</key>
	<string>当日相册点赞不得超过3次</string>
	<key>900022</key>
	<string>绑定支付宝失败</string>
	<key>50009</key>
	<string>没有绑定手机号</string>
	<key>53003</key>
	<string>当前手机号码已经绑定账户</string>
	<key>500001</key>
	<string>mid不能为空</string>
	<key>300012</key>
	<string>未获取到省id</string>
	<key>200005</key>
	<string>未获取到目标评论内容的id</string>
	<key>54005</key>
	<string>该手机号码未注册</string>
	<key>500007</key>
	<string>成员不能加入不存在的群</string>
	<key>300018</key>
	<string>您已经被禁言，不可发帖</string>
	<key>55007</key>
	<string>自己已经是上级</string>
	<key>70004</key>
	<string>非法请求</string>
	<key>51000</key>
	<string>文章不存在</string>
	<key>130011</key>
	<string>广告名称不能为空</string>
	<key>600002</key>
	<string>未获取到被打赏内容id</string>
	<key>150013</key>
	<string>未获取到银行卡号</string>
	<key>300006</key>
	<string>未获取到标题</string>
	<key>600008</key>
	<string>未匹配到打赏内容</string>
	<key>53004</key>
	<string>当前第三方信息已经绑定</string>
	<key>54006</key>
	<string>获取验证码超过今日最大发送次数</string>
	<key>150001</key>
	<string>未获取到广告主id</string>
	<key>180001</key>
	<string>未获取到用户id</string>
	<key>140003</key>
	<string>请选择市</string>
	<key>70005</key>
	<string>当日抽奖超限</string>
	<key>130005</key>
	<string>未获取到广告版位</string>
	<key>57000</key>
	<string>提现金额错误</string>
	<key>500014</key>
	<string>id不能为空</string>
	<key>190005</key>
	<string>已经点赞，不能踩</string>
	<key>180007</key>
	<string>图片上传失败</string>
	<key>140009</key>
	<string>已经开通过</string>
	<key>150007</key>
	<string>未获取到公司名称</string>
	<key>51001</key>
	<string>此文章不是微信链接文章</string>
	<key>55008</key>
	<string>用户不存在</string>
	<key>500045</key>
	<string>好友列表类型type不能为空</string>
	<key>700003</key>
	<string>未获取到被投诉内容类型</string>
	<key>900023</key>
	<string>您的支付宝账户已经被绑定</string>
	<key>90000</key>
	<string>发表朋友圈，数据保存失败</string>
</dict>
</plist>
